* {
    border: none;
    border-radius: 0px;
    font-family: Iosevka Nerd Font;
    font-size: 15px;
    font-style: normal;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 0;
	}

window#waybar {
    background: rgba(0,0,0,0);
}

#clock,
#pulseaudio,
#network,
#custom-launcher,
#cpu,
#memory,
#cava,
#taskbar,
#workspaces,
#temperature,
#custom-wlogout,
#custom-wallchange,
#custom-wvkbd,
#battery,
#workspaces buttons,

#custom-borderleft{
    background-color: #32302f;
    border-radius: 15px 0 0 15px;
    margin-left: 1.5px;
    margin-right: 0px;
    padding: 0px;
}

#custom-borderright{
    background-color: #32302f;
    border-radius: 0 15px 15px 0;
    margin-left: 0px;
    margin-right: 1.5px;
    padding: 0px;
}

#custom-notification{
    background-color: #32302f;
    padding-left: 3px;
    padding-right: 8px;
}

#custom-password{
    background-color: #32302f;
    padding-left: 3px;
    padding-right: 8px;
}

#tray {
    background: #32302f;
}

#clock {
    color: #ddc7a1;
    font-size: 14px;
    font-weight: bold;
    background-color: #32302f;
    border-radius: 0px;
    padding-left: 0.5em;
    padding-right: 4px;
    margin-left: 0px;
    margin-right: 0px;
}

#pulseaudio {
    color: #ddc7a1;
    background: #32302f;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 2px;
    font-weight: bold;
}

#network {
    color: #ddc7a1;
    background: #32302f;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    font-size: small;
}

#bluetooth {
    color: #ddc7a1;
    background: #32302f;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 1px;
    font-weight: bold;
}

#custom-launcher {
    color: #7daea3;
    background-color: #32302f;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
    margin-right: 1px;
    padding: 0 15px 0 5px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;
}

#cpu {
    background-color: #32302f;
    color: #ddc7a1;
    font-weight: bold;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 2px;
}

#memory {
    background-color: #32302f;
    color: #ddc7a1;
    font-weight: bold;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 5px;
}

#temperature {
    background-color: #32302f;
    color: #ddc7a1;
    font-weight: bold;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 5px;
}

#temperature.critical {
  background-color: #a3be8c;
  color: #282738;
  border-radius: 10px;
}

#custom-wlogout {
  background-color: #32302f;
  color: #BF616A;
  border-radius: 10px;
}

#custom-wallchange {
  background-color: #32302f;
  color: #B48EAD;
  border-radius: 10px;
}

#custom-bat0 {
    background-color: #32302f;
    color: #ddc7a1;
    padding-left: 3px;
    padding-right: 1px;
    font-weight: bold;
}

#custom-bat0.charging {
    color: #7daea3;
}

#custom-bat0.full {
    color: #89b482;
}

#custom-bat0.warning:not(.charging):not(.full) {
    color: #c14a1a;
}

#battery {
    background-color: #32302f;
    color: #ddc7a1;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: -0.4em;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

#battery.full{
    color: #89b482;
}

#battery.charging{
    color: #7daea3;
    margin-right: -0.6em;
}

#battery.discharging.30, #battery.discharging.20 {
    color: #e78a4e;
}

#battery.discharging.10 {
    color: #c14a1a;
}

#workspaces {
  background-color: rgba(0,0,0,0);
  font-size: 12px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-top: 0px;
}

#workspaces button {
  background-color: #282828;
  padding: 0 0.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 3px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 8px;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background-color: #282828;
  transition: none; /* Disable predefined animations */
}

#workspaces button {
  color: #bdae93;
}

#workspaces button.active {
  background-color: #32302f;
  color: #ebdbb2;
  border-bottom: solid 2px #ebdbb2 ;
}

