* {
    border: none;
    border-radius: 0px;
    font-family: Iosevka Nerd Font;
    font-size: 15px;
    font-style: normal;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 0;
	}

window#waybar {
    background: rgba(0,0,0,0);
}

#tray {
    background: #32302f;
}

#custom-borderleft,
#custom-borderright,
#custom-notification,
#custom-password,
#custom-launcher,
#custom-bat0,
#clock,
#pulseaudio,
#network,
#bluetooth,
#cpu,
#memory {
    background-color: #32302f;
    color: #ddc7a1;
}

#custom-borderleft{
    border-radius: 15px 0 0 15px;
    margin-left: 1.5px;
    margin-right: 0px;
    padding: 0px;
}

#custom-borderright{
    border-radius: 0 15px 15px 0;
    margin-left: 0px;
    margin-right: 1.5px;
    padding: 0px;
}

#custom-notification{
    padding-left: 3px;
    padding-right: 8px;
}

#custom-password{
    padding-left: 3px;
    padding-right: 8px;
}

#clock {
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px;
    padding-left: 0.5em;
    padding-right: 4px;
    margin-left: 0px;
    margin-right: 0px;
}

#pulseaudio {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 2px;
    font-weight: bold;
}

#network {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    font-size: small;
}

#bluetooth {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 1px;
    font-weight: bold;
}

#custom-launcher {
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
    margin-right: 1px;
    padding: 0 15px 0 5px;
    font-size: 20px;
}

#cpu {
    font-weight: bold;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 2px;
}

#memory {
    font-weight: bold;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 5px;
}

#custom-bat0 {
    padding-left: 0px;
    padding-right: 5px;
    font-weight: bold;
}

#custom-bat0.charging {
    color: #7daea3;
}

#custom-bat0.full {
    color: #89b482;
}

#custom-bat0.warning:not(.charging):not(.full) {
    color: #c14a1a;
}

#workspaces {
  background-color: rgba(0,0,0,0);
  font-size: 12px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-top: 0px;
}

#workspaces button {
  background-color: #282828;
  padding: 0 0.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 3px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 8px;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background-color: #282828;
  transition: none; /* Disable predefined animations */
}

#workspaces button {
  color: #bdae93;
}

#workspaces button.active {
  background-color: #32302f;
  color: #ebdbb2;
  border-bottom: solid 2px #ebdbb2 ;
}

