* {
    border: none;
    border-radius: 0px;
    font-family: Iosevka Nerd Font;
    font-size: 15px;
    font-style: normal;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 0;
	}

window#waybar {
    background: rgba(0,0,0,0);
}

#clock, 
#pulseaudio, 
#network, 
#custom-launcher, 
#custom-pacmanAlt,
#cpu,
#memory,
#cava,
#taskbar,
#workspaces,
#temperature,
#custom-wlogout,
#custom-wallchange,
#custom-wvkbd,
#battery,
#workspaces buttons,

#custom-borderleft{
    background-color: #32302f;
    border-radius: 15px 0 0 15px;
    margin-left: 1.5px;
    margin-right: 0px;
    padding: 0px;
}

#custom-borderright{
    background-color: #32302f;
    border-radius: 0 15px 15px 0;
    margin-left: 0px;
    margin-right: 1.5px;
    padding: 0px;
}

#tray {
    background: #32302f;
}

#clock {
    color: #ddc7a1;
    font-size: 14px;
    font-weight: bold;
    background-color: #32302f;
    border-radius: 0px;
    padding-left: 2px;
    padding-right: 4px;
    margin-left: 0px;
    margin-right: 0px;
}

#pulseaudio {
    color: #ddc7a1;
    font-size: 10px;
    background: #32302f;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
}

#network {
    color: #ddc7a1;
    font-size:13px;
    background: #32302f;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
}

#bluetooth {
    color: #ddc7a1;
    font-size:13px;
    background: #32302f;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 0px;
    font-weight: bold;
}

#custom-launcher {
    color: #7daea3;
    background-color: #32302f;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
    margin-right: 1px;
    padding: 0 15px 0 5px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;
}

/*#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 10px;
    margin-right: -5px;
    margin-left: 10px;
}*/

#custom-playerctl {
	background: #32302f;
    padding: 0px 5px 0px 10px;
	border-radius: 10px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin: 5px 7px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#cpu {
    background-color: #32302f;
    color: #ddc7a1;
    font-weight: bold;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#memory {
    background-color: #32302f;
    color: #ddc7a1;
    font-weight: bold;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#temperature {
  background-color: #32302f;
  color: #ebcb8b;
  border-radius: 10px;
}

#temperature.critical {
  background-color: #a3be8c;
  color: #282738;
  border-radius: 10px;
}

#custom-wlogout {
  background-color: #32302f;
  color: #BF616A;
  border-radius: 10px;
}

#custom-wallchange {
  background-color: #32302f;
  color: #B48EAD;
  border-radius: 10px;
}

#battery { 
    background-color: #32302f;
    color: #ddc7a1;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: -0.2em;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    font-size: 11px;
}

#battery.full{
    color: #89b482;
}

#battery.charging{
    color: #7daea3;
    font-size:13px;
    margin-right: -0.5em;
}

#battery.discharging.30, #battery.discharging.20 {
    color: #e78a4e;
}

#battery.discharging.10 {
    color: #c14a1a;
}

#workspaces {
  background-color: rgba(0,0,0,0);
  font-size: 12px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-top: 0px;
}

#workspaces button {
  background-color: #282828;
  padding: 0 0.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 3px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 8px;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background-color: #282828;
  transition: none; /* Disable predefined animations */
}

#workspaces button {
  color: #bdae93;
}

#workspaces button.active {
  background-color: #32302f;
  color: #ebdbb2;
  border-bottom: solid 2px #ebdbb2 ;
}

